*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    height: 100%;
}
.basicInfoBox{
    background-color: aqua;
    height: 450px;
    width: 85%;
}